<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Home Page</title>

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/like__btn.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/collab.css" type="text/css" />
    <link rel="stylesheet" href="/styles/back-to-top.css" type="text/css" />
    <link rel="stylesheet" href="/styles/stories_new.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/responsive-design.css"
      type="text/css"
    />

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script
      type="text/javascript"
      src="/scripts/composer-char-counter.js"
    ></script>
    <script type="text/javascript" src="/scripts/back-to-top.js"></script>
    <script type="text/javascript" src="/scripts/compose.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
    <script type="text/javascript" src="/scripts/like__btn.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
  </head>

  <!-- CDN: timeago -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <body>
    <!-- Top nav bar (fixed) -->
    <%- include('partials/_nav') %>

    <!-- Header (fixed)-->
    <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <!-- COMPLETED STORIES -->

      <h1>In Progress Story</h1>
      <% for (let story of stories) { %>
        <div style="border: 2px black solid; margin: 20px; padding: 5px;">

          <h2>Story</h2>
          <section class="story-container">
            <a id="title"><b><%story.title%></b></a>

            <p class="story-content">
              <%=story.story_body%>
            </p>
          </section>
          <form method="POST" action="stories/complete">
            <input type="hidden" name="story_id" value="<%= story.id %>" />

            <button id="complete_<%=story.id%>" type="submit">
              <a>Complete</a>
            </button>
          </form>

          <!-- Render collab -->
          <section class="collab-section"></section>
        </section>
        <!-- In Progress Stories -->
        <section class="in-progress container-column">
          <h4>Collaborations</h4>
          <% for (let contribution of contributions) { %>
            <% if (contribution.accepted_contribution === false) { %>
            <% if (contribution.story_id === story.id) { %>
              <article class="collab-container">
                <header>
                  <span id="collab-name"> <%= contribution.nick_name %></span>
                </header>
                <form method="POST" action="/collaborations/accepted">
                  <input name = "contribute_id" type="hidden" value="<%= contribution.id %>">
                  <input name = "story_id" type="hidden" value= "<%=contribution.story_id%>">
                <p class="collab-content"><%= contribution.contributed_body %></p>
                <footer class="collab-footer">
                  <button
                  id="<%= contribution.id %>"
                  title="Love it"
                  class="btn btn-counter"
                  data-count="0"
                  >
                  <span>&#x2764;</span>
                  <span id="vote_count_<%= contribution.id %>"> <%= contribution.contributed_votes %> </span>
                </button>
              </footer>
            </article>

              <button class="accept" type="submit">Accept</button>

            </form>
            <%}%>
            <% } %>
            <% }%>
          </div>
        <% }%>

      </section>
    </main>
    <button class="back-to-top">
      <i class="fas fa-angle-double-up" id="arrow-up"></i>
    </button>
  </body>
</html>
